<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="Nomina"
       connectionString ="data source=DESKTOP-P9CB5OL\SQLEXPRESS;Initial Catalog=BD_Sistema_Nómina;User ID=sa;Password=contrasena"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>